<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PreWorkC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>163D0D091DA6B9D90070E074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>163D0D1D1DA6B9DA0070E074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>163D0D281DA6B9DA0070E074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
